.text{
    text-align: center;
    text-transform: capitalize;
}

.box_with{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px;
}
.head1{
    color: darkseagreen;
text-align: center;
text-transform: capitalize;
}
.div1{
    color: darkseagreen;
text-align: center;
text-transform: capitalize;
}